 @model CRUDwithADO.Models.Employee

@{
    ViewData["Title"] = "Delete Employee";
    var successMessage = TempData["successMessage"]?.ToString();
    var errorMessage = TempData["errorMessage"]?.ToString();

}

<h3>@ViewData["Title"]?.ToString()</h3>

@if (!string.IsNullOrWhiteSpace(@successMessage))
{
    <div class="alert alert-success">
        <b>Success:</b> @successMessage
        <button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    TempData.Remove("successMessage");
}
else if (!string.IsNullOrWhiteSpace(@errorMessage))
{

    <div class="alert alert-danger">
        <b>Error:</b> @errorMessage
        <button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

}

<form id="deleteForm" method="post" action="Delete" class="mt-3" autocomplete="off">
    <input type="hidden" asp-for="Id" />
    <div class="mb-3">
        <label class="form-label">First Name</label>
        <input type="text" class="form-control" asp-for="FirstName" readonly/>
    </div>
    <div class="mb-3">
        <label class="form-label">Last Name</label>
        <input type="text" class="form-control" asp-for="LastName" readonly />
    </div>
    <div class="mb-3">
        <label class="form-label">Date Of Birth</label>
        <input type="date" class="form-control" asp-for="DateOfBirth" readonly/>
    </div>
    <div class="mb-3">
        <label class="form-label">E-Mail</label>
        <input type="email" class="form-control" asp-for="Email" readonly />
    </div>
    <div class="mb-3">
        <label class="form-label">Salary</label>
        <div class="input-group">
            <span class="input-group-text">Rs.</span>
            <input type="number" class="form-control" asp-for="Salary" readonly />       
        </div>
    </div>
    <div>
        <div class="col-lg-12 d-grid">
            <button type="submit" class="btn btn-primary" onclick="test1()" id="confirmModal">Delete</button>
        </div>
    </div>
</form>
<div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmModalLabel">Confirm Delete</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete the employee details?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary" id="confirmButton">Yes</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>

        function test1() {

            debugger;
            $('#confirmModal').modal('show');
            $('#confirmButton').click(function () {
                $('#deleteForm').submit();
            });

                
        };
    </script>
}